<div class="row pt-3">
    <div class="col"></div>
    <div class="col-auto">
        <div class="row">
            <div class="col">
                <div>You: {{markToStringMap[yourMark]}}</div>
                <div class="small">{{ yourPlayer?.name }}</div>
            </div>   
            <div class="col">
                <div>Oponent: {{markToStringMap[oponentMark]}}</div>
                <div class="small">{{ oponentPlayer ? oponentPlayer?.name : "Waiting..." }}</div>    
        
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <titato-board [playerMark]="yourMark" [boardCells]="boardCells" [winCells]="winCells" (cellClicked)="boardCellClicked($event)"></titato-board>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
