<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="row">
            <div class="col">You: {{ yourPlayer?.name }} ({{markToStringMap[yourMark]}})</div>   
            <div class="col">Oponent: {{ oponentPlayer?.name }}  ({{markToStringMap[oponentMark]}})</div>    
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row pt-5">
    <div class="col"></div>
    <div class="col-auto">
        <titato-board [playerMark]="yourMark" [boardCells]="boardCells" [winCells]="winCells" (cellClicked)="boardCellClicked($event)"></titato-board>
    </div>
    <div class="col"></div>
</div>