<div class="container py-2">
    <div class="row">
        <div class="col">
            Hello {{ player?.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3 py-3">
            <div class="card border-primary">
                <div class="card-body">
                    <h3 class="card-title">Tic-Tac-Toe</h3>
                    <p class="card-text">New Game</p>
                    <button class="btn btn-outline-secondary" (click)="onCreateNewGameClick()" >Create</button>
                </div>
            </div>
        </div>
        <div *ngFor="let game of gameList; index as i" class="col-sm-4 col-md-3 py-3">
            <div class="card border-primary">
                <div class="card-body">
                    <h3 class="card-title">Tic-Tac-Toe #{{ game.id }}</h3>
                    <p class="card-text">{{ gameStatusToString[game.status] }}</p>
                    <a href="#" class="btn btn-outline-secondary" (click)="onJoinGameClick(game.id)">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>