<div class="container py-2">
    <div class="row">
        <div class="col">
            Hello {{ player?.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3 py-3">
            <div class="card">
                <div class="card-header bg-light">Tic-Tac-Toe</div>
                <div class="card-body">
                    <p class="card-text">New Game</p>
                    <div class="row g-3 justify-content-center">
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary" (click)="onCreateNewGameClick(false)" >Play <i class="bi bi-person"></i></button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary" (click)="onCreateNewGameClick(true)" >Play <i class="bi bi-robot"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let game of gameList; index as i" class="col-sm-4 col-md-3 py-3">
            <div class="card">
                <div class="card-header bg-light">Tic-Tac-Toe #{{ game.id }}</div>
                <div class="card-body">
                    <span class="small">{{ gameStatusToString[game.status] }}</span>
                    <div class="ms-3" *ngFor="let player of game.players; index as j">
                        <i *ngIf="player.id !== 0" class="bi bi-person"></i>
                        <i *ngIf="player.id === 0" class="bi bi-robot"></i>
                        <span class="small"> {{ player.name }}</span>
                    </div>
                    <a href="#" class="btn btn-outline-secondary mt-3" (click)="onJoinGameClick(game.id)">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>